<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link type="text/css" rel="stylesheet" href="static/templates/ddiet/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="static/jsgrid-theme.min.css" />
<script src="static/main.js"></script>
<script type="text/javascript" src="static/jsgrid.min.js"></script>



<script>
    $( function() {
    $( "#datepicker" ).datepicker({
        inline : true,
        altField : '#hiddenFieldID',
        onSelect : function() {
            $('#datepicker_form').submit();
        }
    });
    var b_date = "{{ base_date|safe }}"
    $("#datepicker").datepicker("setDate", b_date);
    } );
</script>
<div id="datepicker" value="Pick date"></div>
<form id="datepicker_form" action="index" method="GET">
<input type="hidden" name="date" id="hiddenFieldID" value="">
</form>



<script type="text/javascript">
    $(function(){
        var products = {{ products|safe }};
        $("#prod_names").autocomplete({source: products});
    });
</script>

<div id="jsGrid"></div>

 <script>
        var day_products = {{ day_products|safe }}
        var products = {{ products|safe }};

        var AutocompleteField = function(config) {
            jsGrid.Field.call(this, config);
        };

        var theHidden;

        AutocompleteField.prototype = new jsGrid.Field({
            insertTemplate: function(value) {
                return this._insertPicker = $("<input>").autocomplete({source: products});
            },
            editTemplate: function(value) {
                return this._editPicker = $("<input>").autocomplete({source: products});
            },
            insertValue: function(value) {
                return this._insertPicker.autocomplete();
            },
            editValue: function(value) {
                return this._editPicker.autocomplete();
            },

        });

        jsGrid.fields.autocompleteField = AutocompleteField;


        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            inserting: true,
            editing: true,
            sorting: true,
            paging: true,

            pageButtonCount: 7,

            onItemInserting: function(args) {
                function updateArgs(result) {
                    args.item.Carbs = result.Carbs
                    args.item.Fat = result.Fat
                    args.item.Protein = result.Protein
                    args.item.Kcal = result.Kcal
                    $("#jsGrid").jsGrid("refresh");
                }

                update_single_item(args.item.Product[0].value, args.item.Amount, updateArgs);
            },

            data: day_products,

            fields: [
                { name: "Product", type: "autocompleteField", width: 300, validate: "required" },
                { name: "Amount", type: "number", width: 80 },
                { name: "Carbs", type: "number", width: 80, inserting: false, editing: false },
                { name: "Fat", type: "number", width: 80, inserting: false, editing: false},
                { name: "Protein", type: "number", width: 80, inserting: false, editing: false},
                { name: "Kcal", type: "number", width: 80, inserting: false, editing: false},
                { type: "control" }
            ]
        });
 </script>
<br>

<form action="update_product" method="post"> {% csrf_token %}
<div class="ui-widget">
<label for="prod_names">Edit product:</label>
    <input id="prod_names" name="product">
<input type="submit" value="OK"/>
<br><br>
<input type="submit" name="ADD" value="Add new product">
</div>
</form>
